.body{
  max-width: 100vw;
}

.foto img
{
    height: 250px;
    width: auto;
    padding: 1%;
    display: block;
    margin: auto;
    border-radius: 100%;
}

.accord{
  width: 80%;
  display: block;
  margin: auto;
}

.row {
  padding: 2%;
  max-width: 100vw;
  display: flex;
  justify-content: flex-end;
}

.atasan {
  cursor: pointer;
}

.dark{
    /* -webkit-transition: 4s;
    transition: 1s; */
    background-color: rgba(52, 58, 64, 1);
    color: white;
}

.negatif{
    border-color: white;
    background-color: white;
    color: black;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
