{% load static %}

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <title>Login</title>
    </head>
    <body style="background-color: mediumaquamarine;">
        <section style="padding: 10%;">
            <h3 class="text-center">Login</h3>
            <h6 class="text-center" style="color: darkred;">masukkan</h6>
            <p class="text-center">username: cobagratis | password : hanyacoba</p>
            <div>
                <form action="{% url 'story9:login' %}" method = "POST" class="text-center">
                    {% csrf_token %}
                    {{ form.username.label }}
                    <div style="display: block; margin: auto;">
                        {{ form.username }}
                    </div>
                    {{ form.password.label }}
                    <div style="display: block; margin: auto;">
                        {{ form.password }}
                    </div>
                    <div style="padding-top: 2%;">
                        <input class="button btn btn-primary text-center" type="submit" value="Login">
                    </div>
                </form>
            </div>
        </section>
    </body>
</html>
